
html,body 
	height  100% 
 

header 
		
	display flex 
	background #286af0 
	padding 10px 0px 
 

section 
	width  20% 
	height  50% 
	background  #ccc 
	float  right 
	overflow  auto 
	padding-bottom  60px 
	padding-top 30px 

 

section2 
	width  20% 
	height  50% 
	background  red 
	float  left 
	overflow  auto 
	padding-bottom  60px 
	padding-top 30px 

 



article  
	width  79% 
	display  table-column 
	background  red 
	float  left 
	overflow  auto 
	padding-bottom  60px 
	padding-top 30px 
 


	img 
		
	display block 
	margin auto 

 

aside 
	float  right 
	border  1px solid red 
	width  19% 
	border  1px solid red 
	position  bottom 
	/*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
	/*visibility  hidden */
 


aside2 
	 position relative 
	float  left 
	border  1px solid red 
	width  19% 
	border  1px solid red 
	left 10px 
    top 100px 
	/*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
	/*visibility  hidden */
 

footer 
	position  relative 
	margin-top  -50px 
	height  40px  
	padding 5px 0px 
	clear  both 
	background  #286af0 
	text-align  center 
	color  #fff 
 
figure 
	display  table  margin  0 auto 
 
